{% extends 'base.html' %}

{% block content %}
<div class="layout-column">
<p class="about_page_text">На этом сайте можно найти различные спортивные площадки. Целью сайта являлось нахождение
  бесплатных игровых площадок для таких видов спорта как теннис, бадминтон, воллейбол, пляжный воллейбол и др.,
  а также их визуализация и описание. Информация о площадке может устаревать, поэтому обращайте внимание на дату
  редактирования площадки. <br>Надеюсь данная информация вам поможет с выбором площадки. Всем хорошей игры
  и приятного настроения :) </p>
</div>
{% endblock %}