{% extends 'base.html' %}

{% block content %}
<div class="card">
<p class="about_page_text">На этом сайте можно найти различные спортивные площадки. Целью сайта являлось нахождение
  бесплатных игровых площадок для таких видов спорта как большой теннис, бадминтон, пляжный волейбол
  а также их визуализация и описание в г. Минске и его окрестностях. На площадках находились поля и для других
  видов спорта (футбол, баскетбол и др.) поэтому они стали добавляться в соответствующие категории.
  Информация о площадке может устаревать, поэтому обращайте внимание на дату редактирования площадки.
  Со временем здесь могут появятся платные площадки, площадки из других городов Беларуси.
  <br>Надеюсь данная информация вам поможет с выбором площадки. Всем хорошей игры и приятного настроения :) </p>
</div>
{% endblock %}