{% extends 'base.html' %}

{% block content %}
<div class="show-sportground-section">
<div class="card" style="width: 60%">
    <div class="card-body">
    <h3>{{ playground.name }}</h3>
        <hr>
        <div class="image-group">
            {% for item_photo  in playground.photo.all %}
            <a href="{{ item_photo.image.url }}"><img src="{{ item_photo.image.url }}" class="image-item" alt="..."></a>
            {% endfor %}
        </div>
        <hr>
        <p class="card-text"> {{playground.description|linebreaks}}</p>
        <hr>
        <p class="description-playground">дата последнего редактирования: {{playground.time_update|date:"d-m-Y H:i:s"}}</p>
    </div>
</div>
</div>
{% endblock %}

