{% extends 'base.html' %}

{% block content %}
<div class="list-playgrounds-category">
    {% if cat %}
    <h3 class="list-category-name">{{ cat }}</h3>
    {% else %} <h3 class="list-category-name">Все площадки</h3>
    {%endif%}
    <ul>
    {% for p in playgrounds %}
        <li class="playground-item">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img src="{{p.photo.last.image.url}}" class="img-fluid rounded-start" alt="фото площадки">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.description|linebreaks|truncatewords:40}}
                        <a class="link-info" href="{{ p.get_absolute_url }}">посмотреть полностью</a>
                    </p>
                  </div>
                </div>
                  <p class="description-playground">дата последнего редактирования: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
              </div>
            </div>

        </li>
    {% endfor %}
    </ul>
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
      <ul class="pagination ">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
      {% endif %}

        {% for p in paginator.page_range%}
        {% if p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}

