
/* base.html*/
a {
  text-decoration: none;
}

h3 {
  text-align: center;
  margin: 10px;
  color: rgba(255, 255, 255, 0.55);
}

h4 {
  color: rgba(255, 255, 255, 0.55);
}

hr {
  color: rgba(255, 255, 255, 0.55);
}

p {
  margin: 0;
  color: rgba(255, 255, 255, 0.55);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 48, 53, 1);
}

.navbar-nav {
  column-gap: 100px;
}

.wrapper-section {
  background: url('../images/background.jpg');
  background-size: cover;
  min-height: 700px;
  padding: 100px;
}

/* show_SportsGround.html*/

.show-sportground-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(43, 48, 53, 1);
  justify-content: center;
  align-items: center;
}

.image-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-item {
  max-height: 300px;
  padding: 10px;
}

/* index.html */

.layout-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.card-categories {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: rgba(43, 48, 53, 1);
  align-items: center;
}

.categories-item-images {
  height: 200px;
}

/* classes use in about.html template */
.about_page_text{
  padding: 20px;
}


/* ON_ DELETE*/
/* classes use in show_category.html template */

.list-playgrounds-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-category-name {
  background-color: rgba(43, 48, 53, 1);
  margin: 0px;
  padding: 10px;
  border-radius: 20px;
}

.playground-item{
  background-color: rgba(43, 48, 53, 1);
  margin: 80px;
  padding: 10px 5px;
  border-radius: 20px;
}

.name-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-playground{
  display: flex;
  justify-content: flex-end
}
