
/* base.html*/
h3 {
  text-align: center;
  margin: 10px;
  color: rgba(255, 255, 255, 0.55);
}

hr {
  color: rgba(255, 255, 255, 0.55);
}

p {
  margin: 0;
  color: rgba(255, 255, 255, 0.55);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 48, 53, 1);
}

.navbar-nav {
  column-gap: 100px;
}

/* show_SportsGround.html*/

.wrapper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/background.jpg');
  background-size: cover;
  min-height: 700px;
}

.card {
  background-color: rgba(43, 48, 53, 1);
}

.image-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-item {
  max-height: 300px;
  padding: 10px;
}



/* ON_ DELETE*/

a {
  text-decoration: none;
  color: #000000;
}





ul {
  list-style: none;
  padding: 0;
  margin: 0;
}




.categories{
  background: url('../images/background.jpg');
  background-size: cover;
  min-height: 700px;
}

.layout-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 100px;
}

.categories-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  background-color: #808080;
  padding: 10px 5px;
  border-radius: 20px;
}

.categories-item-images {
  height: 200px;
}

.categories-item-name {
  text-align: center;
  padding: 5px;
}

.footer{

}

/* classes use in about.html template */
.about_page_text{
  background-color: #808080;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50px;
}

/* classes use in show_category.html template */
.wrapper-section {
  padding: 100px;
}

.playground-item{
  background-color: #808080;
  margin: 80px;
  padding: 10px 5px;
  border-radius: 20px;
}

.name-date{
  display: flex;
  justify-content: space-between;
}

.description-playground{
  display: flex;
  justify-content: flex-end
}
